body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: wheat;
}
.chamuyo{
    display:none;
} 

img{
width:100px;
height:150px;
}
